@import "../node_modules/bootstrap/scss/variables";
.pagination {
  &.filtered {
    .page-item.active {
      .page-link {
        background-color: $warning;
        border-color: $warning;
        color: $black;
      }
    }
  }
}
